section.quran {
  margin-top: 120px;
  p {
    margin: 0;
  }
  .sec_container {
    .text_container {
      margin-bottom: 100px;
      .title {
        display: flex;
        align-items: center;
        gap: 0px;
        flex-direction: column;

        h2 {
          text-align: center;
          color: var(--main-blue);

          span {
            color: var(--sec-green);
          }
        }

        h2,
        span {
          font-size: 48px;
          font-weight: 700;
        }

        .icon_container {
          img {
          }
        }
      }
      .desc {
        margin-top: 32px;
        p {
          font-weight: 700;
          font-size: 32px;
          color: var(--main-blue);
          text-align: center;
          line-height: 48px;
          margin: 0;
        }
      }
    }

    .content_container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 34px;
      .text_container {
        max-width: 50%;
        .title {
          display: flex;
          align-items: center;
          gap: 12px;
          flex-direction: row;
          h3 {
            color: var(--sec-green);
            font-size: 38px;
            font-weight: 700;
          }
          .icon_container {
            img {
            }
          }
        }
        .desc {
          max-width: unset;
          margin-bottom: 16px;

          p {
            font-weight: 400;
            font-size: 32px;
            text-align: justify;
          }
          .button_container {
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;

            p {
              color: var(--sec-green);
              font-size: 24px;
              font-weight: 400;
              line-height: unset;
            }

            .icon_container {
              margin-top: 5px;
              svg {
                color: var(--sec-green);
                transform: rotate(-45deg);
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }

      .img_container {
        width: 510px;
        height: 478px;
        border-radius: 24px;
        display: block;
        overflow: hidden;

        @media screen and (max-width: 992px) {
          border-radius: 12px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

section.quran[dir="ltr"] {
  p {
  }
  .sec_container {
    .text_container {
      .title {
        h2 {
        }

        h2,
        span {
        }

        .icon_container {
          img {
          }
        }
      }
      .desc {
        p {
        }
      }
    }

    .content_container {
      .text_container {
        .title {
          h3 {
          }
          .icon_container {
            img {
            }
          }
        }

        .desc {
          p {
          }
          .button_container {
            p {
            }

            .icon_container {
              transform: rotate(90deg);
              svg {
              }
            }
          }
        }
      }

      .img_container {
        img {
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  section.quran {
    margin-top: 60px;
    p {
      margin: 0;
    }
    .sec_container {
      .text_container {
        margin-bottom: 40px;
        .title {
          h2 {
            font-size: 24px;
          }

          h2,
          span {
            font-size: 24px;
          }

          .icon_container {
            img {
            }
          }
        }
        .desc {
          margin-top: 16px;
          p {
            font-size: 16px;
            line-height: 28px;
          }
        }
      }

      .content_container {
        flex-direction: column-reverse;
        margin-bottom: 0px;
        .text_container {
          max-width: 100%;
          order: 1;
          .title {
            display: flex;
            align-items: center;
            gap: 12px;
            flex-direction: row;
            margin-bottom: 24px;
            h3 {
              font-size: 20px;
            }
            .icon_container {
              display: none;

              img {
              }
            }
          }

          .desc {
            max-width: unset;
            margin-bottom: 16px;

            p {
              font-weight: 400;
              font-size: 16px;
              text-align: justify;
            }
            .button_container {
              display: flex;
              align-items: center;
              gap: 8px;

              p {
                color: var(--sec-green);
                font-size: 24px;
                font-weight: 400;
                line-height: unset;
              }

              .icon_container {
                margin-top: 5px;
                svg {
                  color: var(--sec-green);
                  transform: rotate(-45deg);
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }

        .img_container {
          width: 100%;
          height: 200px;
          border-radius: 16px;

          img {
          }
        }
      }
    }
  }
}
