section.hero {
  position: relative;
  padding-top: 84px;

  height: 100vh;
  user-select: none;
  .full_image {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 100vh;
    top: 0;
    right: 0;

    .noise {
      position: relative;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;

      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0) 100%
        ),
        radial-gradient(
          circle at center,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0) 70%
        );
      background-blend-mode: multiply;
      opacity: 0.5;
      pointer-events: none;

      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        opacity: 0.5;
      }
    }

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }

  .sec_title {
    position: absolute;
    top: 50%;
    /* right: 50%; */
    width: 100%;
    transform: translate(-50px, -50px);
    /* background: red; */
    z-index: 9;
    h1 {
      color: var(--main-white);
      font-weight: bold;
      font-size: var(--size-32);
      text-align: center;
    }
  }

  .swiper_container {
    transform: translateX(-56%);
    position: relative;
    z-index: 99;
    width: 100%;
    transition: all 0.5s ease-out;
    * {
      user-select: none;
    }
    cursor: grab;
    .box {
      margin: 27px 20px;

      border-radius: var(--br-17);

      width: 300px;
      height: 400px;

      position: relative;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      transition: transform 0.5s ease-out;

      * {
        transition: transform 0.5s ease-out;
      }

      .img_container {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        &::after {
          transition: transform 0.5s ease-out;

          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          background: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0) 100%
            ),
            radial-gradient(
              circle at center,
              rgba(0, 0, 0, 0.5) 0%,
              rgba(0, 0, 0, 0) 70%
            );
          background-blend-mode: multiply;
          opacity: 1;
          pointer-events: none;
          z-index: 13;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &:hover {
        transform: scale(1.1);
      }

      .title {
        position: relative;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        h5 {
          max-width: 70%;
          color: var(--main-white);
          font-size: var(--size-28);
          font-weight: 700;
        }
      }

      .icon_container {
        border-radius: 50%;
        border: 2px solid var(--main-white);
        display: flex;
        width: 28px;
        height: 28px;
        cursor: pointer;
        transition: all 0.3s ease-out;
        position: absolute;
        bottom: 8px;
        left: 8px;
        svg {
          width: 20px;
          height: 20px;
          margin: auto;
          color: var(--main-white);
        }
      }
    }

    .box.active {
      transform: scale(1.1);
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        padding: 3px;
        background: linear-gradient(to bottom, #1e1e1e61, #d9d9d9, #ffffff);

        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: 1;
      }

      .img_container {
        &::after {
          background: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0) 100%
            ),
            radial-gradient(
              circle at center,
              rgba(0, 0, 0, 0.5) 0%,
              rgba(0, 0, 0, 0) 70%
            );
          background-blend-mode: multiply;
          opacity: 0.5;
          pointer-events: none;
          z-index: 13;
        }
      }
    }
  }

  .swiper_container.active {
    transform: translateX(0%) !important;
  }

  .content_container {
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0;
    z-index: 5;

    .sec_container {
      .text_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .desc {
          p {
            color: var(--main-white);
            font-size: var(--size-32);
            font-weight: 400;
            text-align: center;
            margin: 0;

            line-height: 44px;
          }
        }

        .read_more {
          display: flex;
          align-items: center;
          gap: 8px;
          cursor: pointer;

          p {
            font-size: var(--size-24);
            font-weight: 400;
            margin: 0;
          }
          svg {
            width: 25px;
            height: 25px;
            transform: rotate(-45deg);
          }

          p,
          svg {
            color: var(--main-green);
          }
        }

        .counter {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 16px;
          position: relative;

          .buttons {
            display: flex;
            align-items: center;
            gap: 16px;
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translate(-25px, 0);

            .left_arrow,
            .right_arrow {
              border-radius: 50%;
              border: 3px solid var(--main-white);
              display: flex;
              width: 30px;
              height: 30px;
              cursor: pointer;
              transition: all 0.3s ease-out;

              svg {
                width: 20px;
                height: 20px;
                margin: auto;
                color: var(--main-white);
              }
            }

            .left_arrow {
            }
          }

          .counter_content {
            display: flex;
            align-items: center;
            gap: 16px;
            align-self: flex-end;
            hr {
              width: 400px;
              border-top: 2px solid;
              border-color: var(--main-white);
              opacity: 0.5;
            }

            span {
              color: var(--main-white);
              font-weight: bold;
              font-size: 40px;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1550px) {
  section.hero {
    padding-top: 144px;

    .sec_title {
      h1 {
        color: var(--main-white);
        font-weight: bold;
        font-size: var(--size-32);
      }
    }

    .swiper_container {
      transform: translateX(-30%);
      position: relative;
      z-index: 99;
      width: 100%;
      transition: all 0.5s ease-out;
      * {
        user-select: none;
      }
      cursor: grab;
      .box {
        // width: 340px;
        // height: 440px;

        width: 340px;
        height: 440px;

        .img_container {
          img {
          }
        }

        &:hover {
        }

        .title {
          h5 {
            max-width: 151px;
          }
        }
      }
    }

    .content_container {
      .sec_container {
        .text_container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .desc {
            p {
              color: var(--main-white);
              font-size: var(--size-32);
              font-weight: 400;
              text-align: center;
              margin: 0;

              line-height: 44px;
            }
          }

          .read_more {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;

            p {
              font-size: var(--size-24);
              font-weight: 400;
              margin: 0;
            }
            svg {
              width: 25px;
              height: 25px;
              transform: rotate(-45deg);
            }

            p,
            svg {
              color: var(--main-green);
            }
          }

          .counter {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 16px;
            position: relative;

            .buttons {
              display: flex;
              align-items: center;
              gap: 16px;
              position: absolute;
              top: 20px;
              left: 50%;
              transform: translate(-25px, 0);

              .left_arrow,
              .right_arrow {
                border-radius: 50%;
                border: 3px solid var(--main-white);
                display: flex;
                width: 30px;
                height: 30px;
                cursor: pointer;
                transition: all 0.3s ease-out;

                svg {
                  width: 20px;
                  height: 20px;
                  margin: auto;
                  color: var(--main-white);
                }
              }

              .left_arrow {
              }
            }

            .counter_content {
              display: flex;
              align-items: center;
              gap: 16px;
              align-self: flex-end;
              hr {
                width: 400px;
                border-top: 2px solid;
                border-color: var(--main-white);
                opacity: 0.5;
              }

              span {
                color: var(--main-white);
                font-weight: bold;
                font-size: 40px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  section.hero {
    padding-top: 80px;

    .sec_title {
      position: absolute;
      top: 33%;
      right: 20px;
      width: 100%;
      transform: translate(-50px, -50px);
      z-index: 9;
      max-width: 70%;
      h1 {
        color: var(--main-white);
        font-weight: bold;
        font-size: var(--size-24);
        // background-color: red;
      }
    }

    .swiper_container {
      transform: translateX(-55%);

      .box {
        width: 200px;
        height: 300px;

        .img_container {
          img {
          }
        }

        .title {
          h5 {
            max-width: 50%;
            font-size: var(--size-22);
          }
        }
      }
    }

    .content_container {
      bottom: 40px;

      .sec_container {
        .text_container {
          .desc {
            p {
              color: var(--main-white);
              font-size: var(--size-23);
              font-weight: 600;
              line-height: 28px;
            }
          }

          .read_more {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;

            p {
              font-size: var(--size-22);
              font-weight: 400;
              margin: 0;
            }
            svg {
              width: 20px;
              height: 20px;
              transform: rotate(-45deg);
            }

            p,
            svg {
              color: var(--main-green);
            }
          }

          .counter {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 16px;
            position: relative;

            .buttons {
              display: flex;
              align-items: center;
              gap: 16px;
              position: absolute;
              top: 20px;
              left: 50%;
              transform: translate(-25px, 0);

              .left_arrow,
              .right_arrow {
                border-radius: 50%;
                border: 3px solid var(--main-white);
                display: flex;
                width: 30px;
                height: 30px;
                cursor: pointer;
                transition: all 0.3s ease-out;

                svg {
                  width: 20px;
                  height: 20px;
                  margin: auto;
                  color: var(--main-white);
                }
              }

              .left_arrow {
              }
            }

            .counter_content {
              display: flex;
              align-items: center;
              gap: 16px;
              align-self: flex-end;
              hr {
                width: 70px;
                border-top: 2px solid;
                border-color: var(--main-white);
                opacity: 0.5;
              }

              span {
                color: var(--main-white);
                font-weight: bold;
                font-size: 40px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}
