nav.navbar {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s;

  background: linear-gradient(#000000a2, hsla(0, 0%, 100%, 0));

  .sec_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;

    .logo {
      img {
        object-fit: contain;
        width: 100px;
        height: 100px;
      }
    }

    .settings_container {
      display: flex;
      align-items: center;
      gap: 16px;
      .icon_container {
        svg {
          color: white;
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  nav.navbar {
    .sec_container {
      .logo {
        img {
          width: 80px;
          height: 80px;
        }
      }

      .settings_container {
        display: flex;
        align-items: center;
        gap: 16px;
        .icon_container {
          svg {
            color: white;
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
}
