section.prophet {
  .sec_container {
    margin-top: 80px;
    .text_container {
      margin-bottom: 100px;
      .title {
        display: flex;
        align-items: center;
        gap: 0px;
        flex-direction: column;

        h2 {
          text-align: center;
          color: var(--main-blue);

          span {
            color: var(--sec-green);
          }
        }

        h2,
        span {
          font-size: 48px;
          font-weight: 700;
        }

        .icon_container {
          img {
          }
        }
      }
      .desc {
        margin-top: 32px;
        max-width: 90%;
        p {
          font-weight: 700;
          font-size: 32px;
          color: var(--main-blue);
          text-align: center;
          line-height: 48px;
          margin: 0;
        }
      }
    }

    .swiper_container {
      .box_container {
        background-color: var(--main-bagie);
        transition: all 0.5s ease-in-out;
        border-radius: 8px;
        cursor: pointer;
        min-height: 104px;
        display: flex;
        .title {
          margin: auto;
          p {
            text-align: center;
            color: var(--gray-400);
            transition: all 0.5s ease-in-out;
            font-weight: 700;
            font-size: var(--size-28);

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      .box_container.active {
        background-color: var(--main-blue);
        .title {
          p {
            color: var(--main-white);
          }
        }
      }

      .active_section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-top: 64px;

        .img_container {
          width: 510px;
          height: 478px;
          border-radius: 24px;
          display: block;
          overflow: hidden;

          @media screen and (max-width: 992px) {
            border-radius: 12px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .text_container {
          max-width: 50%;
          .title {
            display: flex;
            align-items: center;
            gap: 12px;
            flex-direction: row;
            h3 {
              color: var(--sec-green);
              font-size: 40px;
              font-weight: 700;
            }
          }
          .desc {
            max-width: unset;
            margin-bottom: 16px;

            p {
              font-weight: 400;
              font-size: 32px;
              text-align: justify;
            }
            .button_container {
              display: flex;
              align-items: center;
              gap: 8px;

              p {
                color: var(--sec-green);
                font-size: 24px;
                font-weight: 400;
                line-height: unset;
              }

              .icon_container {
                margin-top: 5px;
                svg {
                  color: var(--sec-green);
                  transform: rotate(-45deg);
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }

          .button_container {
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
            p {
              color: var(--sec-green);
              font-size: 24px;
              font-weight: 400;
              line-height: unset;
              margin: 0;
            }

            svg {
              color: var(--sec-green);
              transform: rotate(-45deg);
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  section.prophet {
    .sec_container {
      margin-top: 40px;
      .text_container {
        margin-bottom: 50px;
        .title {
          h2,
          span {
            font-size: 27px;
          }

          .icon_container {
            img {
            }
          }
        }
        .desc {
          margin-top: 16px;
          max-width: 100%;
          p {
            font-size: 16px;
            line-height: 28px;
          }
        }
      }

      .swiper_container {
        .box_container {
          min-height: unset;

          .title {
            p {
              font-size: 16px;
              margin: 0;
              padding: 8px;
            }
          }
        }

        .box_container.active {
          background-color: var(--main-blue);
          .title {
            p {
              color: var(--main-white);
            }
          }
        }

        .active_section {
          margin-top: 34px;
          flex-direction: column;
          .img_container {
            width: 100%;
            height: 200px;
            border-radius: 16px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .text_container {
            max-width: 100%;
            .title {
              margin-top: 32px;
              h3 {
                color: var(--sec-green);
                font-size: 27px;
              }
            }
            .desc {
              max-width: unset;
              margin-bottom: 16px;

              p {
                font-weight: 400;
                font-size: 16px;
                text-align: justify;
              }
            }

            .button_container {
              display: flex;
              align-items: center;
              gap: 8px;
              p {
                color: var(--sec-green);
                font-size: 12px;
                font-weight: 400;
                line-height: unset;
                margin: 0;
              }

              svg {
                color: var(--sec-green);
                transform: rotate(-45deg);
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
    }
  }
}

section.prophet[dir="ltr"] {
  .sec_container {
    .text_container {
      .title {
        h2 {
          span {
          }
        }

        h2,
        span {
        }

        .icon_container {
          img {
          }
        }
      }
      .desc {
        p {
        }
      }
    }

    .swiper_container {
      .box_container {
        .title {
          p {
          }
        }
      }

      .box_container.active {
        .title {
          p {
          }
        }
      }

      .active_section {
        .img_container {
          img {
          }
        }

        .text_container {
          .title {
            h3 {
            }
          }
          .desc {
            p {
            }
            .button_container {
              p {
              }

              .icon_container {
                svg {
                }
              }
            }
          }

          .button_container {
            cursor: pointer;
            p {
            }

            svg {
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }
}
